.u-block-0842-2 {
    min-height: 765px;
  }
  .u-block-0842-5 {
    width: 374px;
    height: 90px;
    background-image: none;
  }
  .u-block-0842-3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    margin-top: -71px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    color: white;
    width: 320px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 480px;
    top: 500px;
  }
  .u-block-0842-4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 480px;
    top: 480px;
  }